{% extends "base.html.twig" %}
{% block body %}
    <p>Modify Contact:</p>
    {{ form_start(formContact) }}
    {{ form_widget(formContact) }}
    <input type="submit">
    {{ form_end(formContact) }}
    <hr>
    <p>Add address: </p>
    {{ form_start(formAddress) }}
    {{ form_widget(formAddress) }}
    <input type="submit">
    {{ form_end(formAddress) }}
    <hr>
    <p>Add phone number:</p>
    {{ form_start(formPhone) }}
    {{ form_widget(formPhone) }}
    <input type="submit">
    {{ form_end(formPhone) }}
{% endblock %}