{% extends "base.html.twig" %}
{% block body %}
    <div>
        <div>
            <h1>{{ contact.name }} {{ contact.surname }}</h1>
            <p>{{ contact.description }}</p>
        </div>
        <hr>
        <div>
            <p>Phone numbers: </p>
            {% for phone in contact.phones %}
                <form class="delete" method="POST" action="">
                    <button class="delete" type="submit">Delete</button>
                </form>
                    <p class="delete" >{{ phone.number }}, {{ phone.type }}</p>
            {% endfor %}
        </div>
        <hr>
        <div>
            <p>Addresses: </p>
            {% for address in contact.addresses %}
                <form class="delete" method="POST" action="">
                    <button class="delete" type="submit">Delete</button>
                </form>
                    <address class="delete">
                        {{ address.city }}, {{ address.street }} {{ address.houseNumber }} / {{ address.flatNumber }}
                    </address>
            {% endfor %}
        </div>
        <hr>
        <div>
            <p>Emails: </p>
            {% for email in contact.emails %}
                <form class="delete" method="POST" action="">
                    <button class="delete" type="submit">Delete</button>
                </form>
                    <p class="delete">{{ email.emailAddress }}, {{ email.type }}</p>
            {% endfor %}
        </div>
    </div>
    <p>Modify Contact:</p>
    {{ form_start(formContact) }}
    {{ form_widget(formContact) }}
    <input type="submit">
    {{ form_end(formContact) }}
    <hr>
    <p>Add phone number:</p>
    {{ form_start(formPhone) }}
    {{ form_widget(formPhone) }}
    <input type="submit">
    {{ form_end(formPhone) }}
    <hr>
    <p>Add address: </p>
    {{ form_start(formAddress) }}
    {{ form_widget(formAddress) }}
    <input type="submit">
    {{ form_end(formAddress) }}
    <hr>
    <p>Add Email.</p>
    {{ form_start(formEmail) }}
    {{ form_widget(formEmail) }}
    <input type="submit">
    {{ form_end(formEmail) }}
{% endblock %}
