{% extends "base.html.twig" %}
{% block body %}
    <p>Modify Contact:</p>
    {{ form_start(formContact) }}
    {{ form_widget(formContact) }}
    <input type="submit">
    {{ form_end(formContact) }}
    <hr>
    <p>Phone numbers: </p>
    {% for phone in contact.phones %}
        <p>{{ phone.number }}, {{ phone.type }}</p>
    {% endfor %}
    <p>Add phone number:</p>
    {{ form_start(formPhone) }}
    {{ form_widget(formPhone) }}
    <input type="submit">
    {{ form_end(formPhone) }}
    <hr>
    {% for address in contact.addresses %}
        <address>
            {{ address.city }}, {{ address.street }} {{ address.houseNumber }} / {{ address.flatNumber }}
        </address>
    {% endfor %}
    <p>Add address: </p>
    {{ form_start(formAddress) }}
    {{ form_widget(formAddress) }}
    <input type="submit">
    {{ form_end(formAddress) }}
{% endblock %}
