{% extends "base.html.twig" %}
{% block body %}
    <h4><a href="{{ path('addressbook_contact_create') }}">Create new contact</a></h4>
    <hr>
    {% for contact in contacts %}
        <div>
            <form class="delete" action="{{ path('addressbook_contact_delete', {'id':contact.id}) }}"
                  method="POST">
                <button class="delete">Delete</button>
            </form>
            <a class = "show-all" href="{{ path('addressbook_contact_show', {'id':contact.id}) }}">{{ contact.name }} {{ contact.surname }}</a>
            <a href="{{ path('addressbook_contact_modify', {'id':contact.id}) }}">modify</a>
        </div>
        <hr>
    {% else %}
        <h3>Contact Book is empty</h3>
    {% endfor %}
{% endblock %}