{% extends "base.html.twig" %}
{% block body %}
    <div>
        <h1>{{ contact.name }} {{ contact.surname }}</h1>
        <hr>
        <p>{{ contact.description }}</p>
        <hr>
        <p>Phone numbers</p>
        <ul>
        {% for phone in contact.phones %}
            <li>
                {{ phone.number }}, {{ phone.type }}
            </li>
        {% endfor %}
        </ul>
        <hr>
        {% for address in contact.addresses %}
            <address>
                {{ address.city }}, {{ address.street }} {{ address.houseNumber }} / {{ address.flatNumber }}
            </address>
        {% endfor %}
    </div>

    <form action="{{ path('addressbook_contact_modify', {'id':contact.id}) }}" method="POST">
        <button>Modify</button>
    </form>
{% endblock %}